extends layout

block content
  body.index.cover
    div.home
      h1 Welcome to BevCloud 
      p To calculate standard drinks, go to:
        ul
          li /beer/{quantity} 
          li /cider/{quantity} 
          li /white/{quantity}
          li /red/{quantity}
